<app-header></app-header>
<ion-content class="card-formulario">
<ion-card>
 <form [formGroup]="formulario2" (ngSubmit)="showAlert()" >
<ion-grid>
<ion-row>

  <ion-col col-11>
    <img src="assets/img/logo.jpg" class="logo img-fluid" alt="...">
  </ion-col>
  <ion-col class="titulo centrado" col-12><h1>2/2</h1></ion-col>
  <ion-col class="titulo2 centrado" col-12>Direcciones y Contactos</ion-col>


     <ion-col col-12  >
       <ion-item>
       <ion-label class=" centrado" stacked>Pais</ion-label>
       <ion-select  placeholder="Venezuela"class="inputs centrado" formControlName="pais"  (change)="onChange($event.target.value)">
       <ion-option  [value]="pais.name"  selected="true" *ngFor="let pais of paises">
         {{pais.name}}</ion-option>
     </ion-select>
       </ion-item>
     </ion-col >




     <ion-item  class="centrado">
     <ion-label class=" centrado" stacked>Direccion</ion-label>
     <ion-input class="inputs" type="text" formControlName="direccion"
      placeholder="Urb Lorem calle 128 Apt 12 piso 2"></ion-input>
     </ion-item>


     <ion-col col-6  >
       <ion-item>
       <ion-label class=" centrado" stacked>Ciudad</ion-label>
       <ion-select  placeholder="Caracas" class="inputs  centrado" formControlName="ciudad">
       <ion-option value="caracas" selected="true">Caracas</ion-option>
       <ion-option value="tachira">Tachira</ion-option>
     </ion-select>
       </ion-item>
     </ion-col >


          <ion-col col-6>
            <ion-item  class="centrado">
            <ion-label class=" centrado" stacked>Cod. postal</ion-label>
            <ion-input class="inputs" type="text" formControlName="cod"></ion-input>
            </ion-item>
          </ion-col >







</ion-row>
<ion-row>
  <ion-col col-12 class="boton-siguiente">
  <button type="submit" class="button-block boton button"ion-button round [disabled]="!formulario2.valid">Continuar</button>
  </ion-col>
</ion-row>


</ion-grid>
</form>
